.horizontal-sm,
.horizontal-md,
.horizontal-lg {
  background-color: rgba(255, 255, 255, 0.3);
  height: 4px;
}

.horizontal-sm {
  width: 111px;
  height: 3px !important;
}

.horizontal-md {
  width: 243px;
}

.horizontal-lg {
  width: 307px;
}

.vertical-md,
.vertical-lg {
  background-color: rgba(255, 255, 255, 0.3);
}

.vertical-md {
  width: 3px;
  height: 100px;
}

.vertical-lg {
  width: 3px;
  height: 100px;
}
