html,
body {
  padding: 0;
  margin: 0;
  font-family: Saira, sans-serif;
  background-image: linear-gradient(
    107.11deg,
    #1a0028 0.22%,
    #0c0112 44.86%,
    #0b0112 44.87%,
    #070e31 92.57%
  );
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
